body {
	background-color: #F4F4F9;
	color: #121212;
}

code {
	font-size: 1.2em;
}

.block {
	background-color: #586F7C;
	color: #FFFFFF;
	padding: 0.9em;
	margin: 1.2em;
}

.sub {
	color: #FFAAAA;
}
