/*
//
//  This Source Code Form is subject to the terms of the Mozilla Public
//  License, v. 2.0. If a copy of the MPL was not distributed with this
//  file, You can obtain one at http://mozilla.org/MPL/2.0/.
//
*/

body {
	background-color: #F4F4F9;
	color: #121212;
}

code {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

.block {
	background-color: #586F7C;
	color: #FFFFFF;
	padding: 0.9em;
	margin: 1.2em;
}

.sub {
	color: #FFAAAA;
}
